{% javascripts output='js/area-list.js'
'@HexmediaContentBundle/Resources/public/js/page-list.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<div class="content data-area-list">
    <table class="table table-hover"
           data-bind="table: list, headerTemplate: 'list_table_header', itemTemplate: 'list_table_items'">
    </table>

    <div data-bind="pagination: pagination"></div>
</div>


{% include "HexmediaKnockoutBootstrapBundle:Table:list_table_header.html.twig" with {'addRouteName' : 'HexMediaContentPageAdd'} %}
{% include "HexmediaKnockoutBootstrapBundle:Table:list_table_items.html.twig" with {'editRouteName' : 'HexMediaContentPageEdit', 'removeRouteName' : 'HexMediaContentPageDelete'} %}
