{% extends 'HexmediaAdministratorBundle:Layout:edit.html.twig' %}

{% block title %}{% trans with {'name': entity.name} %}Edit Area "%name%"{% endtrans %}{% endblock title %}

{% block head_style %}
    {% stylesheets
    '@HexmediaAdministratorBundle/Resources/public/css/raptor.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block body -%}
    {{ form_start(form, {'attr' : { 'class' : 'form-horizontal' } }) }}
    <div class="buttons-bar">
        {%  include "HexmediaAdministratorBundle:Form:buttons.html.twig" with {'form' : form, 'exit': 'HexMediaContentArea'} only %}
    </div>
    {{ form_end(form) }}
{% endblock %}
