<div class="main">
    <div class="content">
        <div class="modal-body">
            <div class="grid-content">
                <div class="data-area-grid">
                    <div class="row-fluid data-grid">
                        Loading ...
                    </div>
                </div>
                <br style="clear: both;" />
                <div class="pagination">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
            <div class="sidebar">
                <div class="top">

                </div>
                <div class="data">

                </div>
            </div>
        </div>
    </div>
</div>